@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;
* {
    box-sizing: border-box;
}
html,
body {
    padding: 0;
    margin: 0;
    @apply font-roboto;
    @apply text-primary;
}

h1,
header {
    @apply text-header;
}

h2 {
    @apply text-accent;
}
